@import "reset.css";

/*Typography*/	
h2, h3, h4 {
	margin: 0;
	padding: 0;
	color: #515d61;
	font: 24px 'Lato', Geneva,'Lucida Sans','Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;
	text-transform: uppercase;}

h5 {
	color: #515d61;
	font: 700 14px 'Lato';}	
	
sup {
	color: #8e99a4;
	font-size: 12px;
	line-height: 20px;
	vertical-align: top;}	
	
small {
	color: #8e99a4;
	font: 400 12px 'Lato';}	

em {
	color: #3b3334;
	font-style: italic;}	

strong {
	color: #3b3334;
	font-weight: 700;}	

a, a:visited {
	color: #0e567f;
	text-decoration: none;}	

a:active, a:focus {outline: none;}	

::selection {
	color: #515d61;
	background: #cbdbe0;}

::-moz-selection {
	color: #515d61;
	background: #cbdbe0;}	
	
/*Layout*/	
html {height: 100%;}
body {
	height: 100%;
	color: #303438;
	text-align: center;
	background: url('../images/bg.gif') 0 0;
	font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;}

header {
	padding: 20px 0;
	position: relative;
	background: #bed2d9 url('../images/bg-header.gif') 0 bottom repeat-x;}
	
nav {
	right: 0;	
	bottom: 0;
	position: absolute;}	

nav ul.main-nav {
	float: right;
	display: block;
	font: 14px 'Lato', Geneva,'Lucida Sans','Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;}
	
nav ul.main-nav li {
	float: left;
	display: block;
	position: relative;
	padding: 5px 20px 5px 10px;}	
	
nav ul.main-nav li a,	
nav ul.main-nav li a:visited {
	float: left;
	color: #303438;
	display: block;
	font-weight: normal;
	
	-webkit-transition: color 0.3s ease-in-out 0s;
	-moz-transition: color 0.3s ease-in-out 0s;
	-o-transition: color 0.3s ease-in-out 0s;
	-ms-transition: color 0.3s ease-in-out 0s;
	-transition: color 0.3s ease-in-out 0s;}
	
nav ul.main-nav li a:hover,
nav ul.main-nav li a:active {color: #0e567f; border: none;}	
	
nav ul.sub-nav {
	left: 0;
	top: 23px;
	z-index: 15;
	width: 200px;
	display: none;
	overflow: hidden;
	padding-top: 10px;
	position: absolute;
	background: #bed2d9;

	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-o-border-radius: 0px 0px 5px 5px;
	-ms-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;}	
	
nav ul.sub-nav li {
	padding: 0;
	width: 200px;
	display: block;
	text-align: center;}	
	
nav ul.sub-nav li a {
	width: 180px;
	display: block;
	padding: 5px 10px;
	
	-webkit-transition: background 0.3s ease-in-out 0s;
	-moz-transition: background 0.3s ease-in-out 0s;
	-o-transition: background 0.3s ease-in-out 0s;
	-ms-transition: background 0.3s ease-in-out 0s;
	-transition: background 0.3s ease-in-out 0s;}	

nav ul.sub-nav li a:hover {background: #dce8eb;}
	
nav ul span {
   	top: 4px;
	right: 5px;
    width: 7px;
    height: 4px;
    float: left;
    display: block;
    padding: 8px 3px;
    position: absolute;
    background: transparent url('../images/sub.png') center center no-repeat;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;}

nav span:hover {
    cursor: pointer;
    background-color: #dce8eb;}	

article {
	min-height: 55%;
	clear: both;
	display: block;
	font-size: 12px;
	padding-top: 20px;}
	
footer {
	font-size: 12px;
	margin-top: 100px;
	min-height: 120px;
	background: #bed2d9;}	

.login-top {
	top: -24px;
	right: -80px;
	width: 67px;
	height: 38px;
	display: block;
	position: absolute;
	text-indent: -9999px;
	background: url('../images/login.png') 0 0 no-repeat;}	

.login-top:hover {top: -22px;}	

.scroll-to-top {
	right: 10%;
	width: 55px;
	height: 50px;
	bottom: 150px;
	display: block;
	position: fixed;
	background: url('../images/back-to-top.png') 0 0 no-repeat;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;}

.scroll-to-top:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=1.0);
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	opacity: 1.0;}	

.content p {
	font-size: 12px;
	margin-top: 20px;
	line-height: 18px;}
	
.content a, .content a:visited {
	font-weight: 700;
	border-bottom: 1px dotted #869499;}	

.content a:hover, .content a:active {color: #3b3334;}	

.content a.link-highlight:hover, 
.content a.link-highlight:active {color: #fff;}
	
/*General Classes*/	
.lato {font-family: 'Lato', sans-serif;}

.float-left {float: left;}
.float-right {float: right;}

.emph {text-decoration: underline;}

.fixed-wrap {
	width: 980px;
	margin: 0 auto;
	text-align: left;
	position: relative;}	

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;}

.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}

.hr-right, .hr-left {
	height: 1px;
	bottom: 10px;
	overflow: hidden;
	position: absolute;	
	background: #bed2d9;}

.hr-left 			{left: 0;}
.hr-right 			{right: 0;}

.align-ctr 			{text-align: center;}
.align-rgt 			{text-align: right;}

.pull-top-20		{margin-top: 20px;}
.pull-top-50		{margin-top: 50px;}

.push-left-7 		{padding-left: 7px;}
.push-right-7 		{padding-right: 7px;}

.w70-fluid {width: 70%;}
.w85 {width: 85px;}

.wrap {
	display: block;
	word-wrap: break-word;}

/*Styles*/
a.link-highlight {
	color: #fff;
	margin: 0px;	
	font-size: 11px;
	padding: 0px 4px;
	border-bottom: 0;	
	background: #515d61;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background 0.3s ease-in-out 0s;
	-moz-transition: background 0.3s ease-in-out 0s;
	-o-transition: background 0.3s ease-in-out 0s;
	-ms-transition: background 0.3s ease-in-out 0s;
	-transition: background 0.3s ease-in-out 0s;}
	
a.link-highlight:hover {background: #869499;}	

nav ul.main-nav li.icon-home {padding: 0;}
	
nav ul.main-nav li a.icon-home-link,
nav ul.main-nav li a.icon-home-link:visited {
	padding: 0;
	width: 23px;
	height: 23px;
	margin-top: 3px;
	text-indent: -9999px;
	background: url('../images/icon-home.png') 0 0 no-repeat;
	
	-webkit-transition: background-position 0.3s ease-in-out 0s;
	-moz-transition: background-position 0.3s ease-in-out 0s;
	-o-transition: background-position 0.3s ease-in-out 0s;
	-ms-transition: background-position 0.3s ease-in-out 0s;
	-transition: background-position 0.3s ease-in-out 0s;}
	
nav ul.main-nav li a.icon-home-link:hover {background-position:0 -23px;}	

.data-table .view-option {float: right;}
.data-table .view-option select {
	font-size: 12px;
	font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;}

.data-table h2,
.data-table h3,
.data-table table {
	clear: both;
	background: url('../images/score-divider.png') 595px 50px repeat-y;}
	
.data-table h2,
.data-table h3 {
	height: 24px;
	padding: 0 20px;
	background: none;	
	text-align: center;
	position: relative;
	margin-bottom: 8px;}
	
.data-table.nobg {
  clear: both;
  overflow: hidden;}	
	
.data-table.nobg table {background-image: none;}	
	
.data-table h3.align-lft {
  text-align: left;
  padding-left: 0px;}	
	
.data-table span {color: #515d61;}	
	
.data-table h2 span,
.data-table h3 span {padding: 0;}		
		
.data-table table tr th {
	color: #515d61;
	padding: 0 0px 0px 15px;
	font: 700 13px 'Lato', Geneva,'Lucida Sans','Lucida Grande','Lucida Sans Unicode',Verdana,sans-serif;
	text-align: left;
	background: url('../images/icon-sprites.png') 0 2px no-repeat;}	
	
.data-table table tr th.score-left {text-align: center;}		
.data-table table tr th.score-right {text-align: left;}
.data-table table tr th.user {
	color: #8e99a4;
	text-align: right;}
	
.data-table table tr th.score-left,
.data-table table tr th.score-right {
	color: #cc3e18;
	padding: 0;
	background-image: none;}		

.data-table table tr th.place 	{background-position: 0px -22px;}	
.data-table table tr th.home 	{background-position: 0px -45px;}	
.data-table table tr th.away 	{background-position: 0px -68px;}	
.data-table table tr th.user 	{background-position: 25px -90px;}	
.data-table table tr th.country 	{background-position: 0px -114px;}
.data-table table tr th.team 	{background-position: 0px -162px;}
.data-table table tr th.url 	{
  text-align: right;
  padding-right: 18px;
  background-position: right -138px;}

.data-table table thead tr {
	height: 24px;}

.data-table table tbody a:hover,
.data-table table tbody a:active {
	color: #3b3334;
	border-bottom: 1px dotted #869499;}
	
.data-table table tbody tr {
	-webkit-transition: background 0.3s ease-in-out 0s;
	-moz-transition: background 0.3s ease-in-out 0s;
	-o-transition: background 0.3s ease-in-out 0s;	
	-ms-transition: background 0.3s ease-in-out 0s;
	-transition: background 0.3s ease-in-out 0s;}	
	
.data-table table tbody tr:hover {background: rgba(203, 219, 224, 0.5);}

.data-table table tbody tr td {
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: top;}
	
.data-table table tbody tr td img {vertical-align: top;}		

.data-table a.load {
  clear: both;
	display: block;	
	color: #707a83;
	font-size: 11px;	
	padding: 20px 0;
	margin-top: 10px;	
	text-align: center;	
	background: #dce8eb;
	-webkit-transition: background 0.3s ease-in-out 0s;
	-moz-transition: background 0.3s ease-in-out 0s;
	-o-transition: background 0.3s ease-in-out 0s;
	-ms-transition: background 0.3s ease-in-out 0s;
	-transition: background 0.3s ease-in-out 0s;}	

.data-table a.load:hover {
	color: #303438;	
	display: block;
	background: #cbdbe0;}
	
.ad-space {
	margin: 50px 0 0;	
	text-align: center;}
	
.twitter {margin-top: 15px;}		
	
.left-footer {
	float: left;
	padding-top: 20px;}	
	
.right-footer {
	float: right;
	text-align: right;}	
	
.right-footer ul {
	margin-top: 20px;}	
	
.right-footer ul li {
	color: #a2b3b9;
	display: inline;
	padding: 0 5px;}	
	
.right-footer ul li a {padding-right: 10px;}

.right-footer ul li a:hover,
.right-footer ul li a:active {color: #3b3334;}

.breadcrumbs {margin-bottom: 10px;}

.breadcrumbs li {
  	color: #8e99a4;
  	font-size: 11px;
  	display: inline;}
  
.breadcrumbs li a {font-weight: bold;}  

form {
	clear: both;
	margin-top: 40px;}

form input,
form textarea {
	width: 230px;
	color: #8e99a4;
	font-size: 14px;
	padding: 5px;
	border: 1px solid #bed2d9;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;}

form input {
	display: block;
	position: relative;
	margin-bottom: 5px;}	

form .details,
form textarea {
	float: left;}
	
form .details-2 {display: block;}

form .details-3,
form .details-4 {
	text-align: left;
	margin-top: 20px;}

form .details-3 input,
form .details-4 input {display: inline-block;}		

form .details-4 {margin-top: 0;}

form .details-5 input {
	width: 96%;
	font-size: 30px;}

form textarea {
	width: 490px;
	max-width: 600px;
	height: 100px;
	min-height: 100px;
	margin: -1px 0 30px 30px;
	font-family: Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;}	

form input:focus,
form textarea:focus {outline: none;}

.button {
	width: 193px;
	height: 39px;
	border: 0;
	clear: both;
	display: block;
	cursor: pointer;
	position: relative;
	margin-left: 271px;
	text-indent: -9999px;	
	border-left: 1px solid #303438;	
	border-right: 1px solid #303438;
	background: url('../images/button.png') 0 0 no-repeat;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;}

.button:hover {background-position: 0 -39px;}	
.button:active {background-position: 0 -78px;}

.button.click-register {
	width: 150px;
	margin: 0px 10px 5px;
	display: inline-block;
	vertical-align: middle;
	background-position: center -117px;}

.button.click-register:hover {background-position: center -156px;}
.button.click-register:active {background-position: center -195px;}	

.button.click-login {
	margin: 0 auto;
	background-position: center -234px;}

.button.click-login:hover {background-position: center -273px;}	
.button.click-login:active {background-position: center -312px;}

.button.click-sendmsg {
	float: left;
	margin-top: 10px;
}

/*Popups*/
.popup {
	font-size: 12px;
	position: relative;
	background: #ecf1f2;
	padding: 10px 20px 20px;	
	border: 2px solid #bed2d9;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 0px 4px rgba(134, 148, 153, 1);
	-moz-box-shadow: 0px 0px 0px 4px rgba(134, 148, 153, 1);
	box-shadow: 0px 0px 0px 4px rgba(134, 148, 153, 1);}

.popup p {
	margin-top: 10px;	
	text-align: left;
	line-height: 16px;}

.popup a:hover {
	color: #3b3334;
	text-decoration: underline;}	

.popup form.form {margin-top: 20px;}

form .error {
	color: #fff;
	width: 215px;
	font-size: 11px;
	text-align: left;
	line-height: 13px;
	padding: 5px 10px;
	position: absolute;
	background: #d95148;}

form .error.errtype1 {
	top: 93px;
	right: 20px;}	

form .error.errtype2 {
	top: 132px;
	right: 20px;}	

form .error.errtype3 {
	width: 220px;
	margin: 5px 0 0;}

form .error.errtype4 {
	right: 20px;
	width: 230px;
	margin: 5px 0 0;}	

form .error.errtype5,
form .error.errtype6,
form .error.errtype7,
form .error.errtype8 {
	width: 85%;
	margin: 8px 0 20px;}	

form .error.errtype8 {
	top: 225px;
	right: 208px;
	width: 480px;
}	

form .error .point-left {
	top: 5px;
	left: -8px;
	width: 0;
	height: 0;
	position: absolute;
	border-color: transparent #d95148 transparent transparent;
  	border-style: solid;
  	border-width: 12px;
	border-left: 0;}
	
form .error .point-top {
	top: -7px;
	width: 0;
	height: 0;
	position: absolute;
	border-color: transparent transparent #d95148 transparent;
  	border-style: solid;
  	border-width: 12px;
	border-top: 0;
}		

.close {
	top: -15px;
	right: -15px;
	width: 29px;
	height: 29px;
	display: block;
	position: absolute;
	text-indent: -9999px;
	background: url('../images/close.png');}

.popup.register {width: 495px;}	
.popup.login {width: 370px;}
  